<%- include ("header.ejs") %>
<body>
    <main>
        <div class="container">
            <h1>Gör ändringar</h1>
            <form actionn="/todolist" method="post" class="form-inline" id="editForm">
                <div class="form-group my-2">
                    <label for="editTask" class="m-1">Ändra uppgift</label>
                    <input type="text" class="form-control mr-2" name="todo" id="" value="<%= editRes.todo %>">
                </div>
                <div class="form-group my-2">
                    <label for="creator" class="m-1">Ditt namn</label>
                    <input type="text" class="form-control mr-2" name="creator" readonly id="" value="<%= editRes.creator %>">
                </div>
                <input type="hidden" name="date" id="<%= editRes._id %>">
                <button type="submit" class="btn m-2">Spara ändringar</button>
            </form>  
        </div>
    </main>
<%- include ("footer.ejs") %>