<%- include ("header.ejs") %>
<body>
    <div class="container">
        <h1>Min att göra lista</h1>
        <form actionn="/todolist" method="post" class="form-inline" id="toDoForm">
            <div class="form-group my-2">
                <label for="newTask" class="m-1">Ny uppgift</label>
                <input type="text" class="form-control mr-2" name="todo" id="" value="" placeholder="fyll i ny uppgift">
            </div>
            <div class="form-group my-2">
                <label for="creator" class="m-1">Ditt namn</label>
                <input type="text" class="form-control mr-2" name="creator" id="" placeholder="fyll i namn">
            </div>
            <input type="hidden" name="date" id="">
            <button type="submit" class="btn btn-dark m-2">Lägg till uppgift</button>
        </form>  
        <div class="row">
            <div class="col-6 my-3">
                <h2>Att göra: </h2>
                <% toDos.forEach( (task)=> { %>
                    <div class="my-3">
                        <h3><%= task.todo %> </h3> 
                        <div>Skapad av: <%= task.creator %></div> 
                        <% let msec = Date.parse(task.date);
                        let dt = new Date(msec);
                        let dateCreated = dt.toLocaleDateString(); %>
                        <div class="my-2">Datum:  <%= dateCreated %> </div>
                        <button type="button" class="btn btn-sm"><a href="/delete/<%= task._id%> ">Klart! </a></button>
                        <button type="button" class="btn btn-sm"><a href="/update/<%= task._id%> ">Ändra </a></button>
                    </div>
                <% }); %>
                <div class="sortbButtons d-flex my-3">
                    <button type="button" class="btn mr-2"><a href="/todolist/sorted">Visa i bokstavordning </a></button>
                    <button type="button" class="btn mr-2"><a href="/todolist">Visa ordinarie ordning </a></button>
                </div>
            </div>
        </div>  
    </div>
    
</body>
</html>